openapi: 3.1.0
info:
  title: Logister Public Ingestion API
  version: "3.5"
  summary: Send telemetry to Logister and build authorized read-only CLI clients.
  description: |
    Logister's public API accepts project-scoped telemetry over HTTP. Use the
    first-party SDKs when they fit your runtime, or use this contract to build
    a custom client, script, worker integration, or direct HTTP reporter.
  contact:
    name: Logister
    url: https://logister.org/docs/
  license:
    name: MIT
    url: https://github.com/taimoorq/logister/blob/main/LICENSE
servers:
  - url: https://logister.org
    description: Hosted Logister app
  - url: https://your-logister-host.example
    description: Self-hosted Logister instance
tags:
  - name: Ingest events
    description: Send errors, logs, metrics, transactions, spans, and check-ins.
  - name: Check-ins
    description: Send compact monitor heartbeats for scheduled work.
  - name: Deployments
    description: Record release-to-commit mappings for source-linked debugging.
  - name: Mobile tokens
    description: Mint short-lived Android and iOS ingest tokens from a trusted backend.
  - name: CLI
    description: Discover CLI compatibility and server feature support.
security:
  - bearerAuth: []
  - apiKeyHeader: []
paths:
  /api/v1/cli/capabilities:
    get:
      operationId: getCliCapabilities
      tags:
        - CLI
      summary: Inspect CLI compatibility metadata.
      description: |
        Returns public metadata that lets the Logister CLI understand server
        version, API contract, minimum CLI requirements, and currently exposed
        CLI feature groups. This endpoint does not expose project data and does
        not require authentication.
      security: []
      responses:
        "200":
          description: CLI compatibility metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliCapabilities"
              examples:
                current:
                  value:
                    server: logister
                    server_version: "3.5"
                    api_contract_version: "3.5"
                    api_contract_sha256: 28b02964e64dcd1f6dc9ba2c5ca1b417f93ee360420a4f1c173bc45d61663a36
                    minimum_cli_version: "0.1.0"
                    recommended_cli_version: "0.1.2"
                    generated_at: "2026-07-01T12:00:00Z"
                    endpoints:
                      capabilities: /api/v1/cli/capabilities
                      session: /api/v1/cli/session
                      device_authorizations: /api/v1/cli/device_authorizations
                      device_token: /api/v1/cli/device_authorizations/token
                    auth:
                      cli_access_tokens: true
                      device_authorization: true
                      project_ingest_keys_for_read: false
                      recommended_scopes:
                        - projects:read
                        - project_summary:read
                        - events:read
                        - errors:read
                        - ai_context:read
                        - traces:read
                        - monitors:read
                        - deployments:read
                        - insights:read
                        - metrics:read
                    features:
                      capabilities: true
                      cli_access_tokens: true
                      device_authorization: true
                      projects: true
                      events: true
                      error_groups: true
                      traces: false
                      monitors: false
                      deployments: false
                      insights: false
                      metrics: false
                      ai_context_bundles: true
  /api/v1/cli/session:
    get:
      operationId: getCliSession
      tags:
        - CLI
      summary: Inspect the current CLI token and its effective project access.
      description: Returns safe token metadata, a bounded project UUID list, and read scopes that require a new browser login. Token values and digests are never returned.
      security:
        - cliBearerAuth: []
      responses:
        "200":
          description: Current CLI session diagnostics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/device_authorizations:
    post:
      operationId: createCliDeviceAuthorization
      tags:
        - CLI
      summary: Start browser-approved CLI login.
      description: |
        Creates a short-lived device authorization request. The CLI displays
        the returned user code and polls the token endpoint while the user
        approves or denies the request in the signed-in web app.
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CliDeviceAuthorizationRequest"
      responses:
        "201":
          description: Device authorization challenge.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliDeviceAuthorization"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/cli/device_authorizations/token:
    post:
      operationId: exchangeCliDeviceAuthorization
      tags:
        - CLI
      summary: Poll a browser-approved CLI login for an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CliDeviceTokenRequest"
      responses:
        "200":
          description: CLI access token. Returned once after approval.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliDeviceTokenResponse"
        "400":
          description: Authorization is pending, denied, expired, or invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliDeviceAuthorizationError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/cli/projects:
    get:
      operationId: listCliProjects
      tags:
        - CLI
      summary: List projects available to a CLI token.
      security:
        - cliBearerAuth: []
      parameters:
        - name: include_archived
          in: query
          schema:
            type: boolean
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Projects visible to this token.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/CliListEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/CliProject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}:
    get:
      operationId: getCliProject
      tags:
        - CLI
      summary: Show one project available to a CLI token.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
      responses:
        "200":
          description: Project details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliProject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/summary:
    get:
      operationId: getCliProjectSummary
      tags:
        - CLI
      summary: Summarize project telemetry for CLI and AI inspection.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
      responses:
        "200":
          description: Project summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliProjectSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/events:
    get:
      operationId: listCliEvents
      tags:
        - CLI
      summary: List server-redacted telemetry events for a project.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - name: type
          in: query
          schema:
            type: string
            description: Comma-separated event types.
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - $ref: "#/components/parameters/Environment"
        - $ref: "#/components/parameters/Release"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/AfterCursor"
        - name: level
          in: query
          schema:
            type: string
          description: Comma-separated event levels.
        - name: q
          in: query
          schema:
            type: string
        - name: trace_id
          in: query
          schema:
            type: string
        - name: request_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            description: Event or transaction status. Supports `ok`, `errored`, exact context statuses, or comma-separated exact statuses.
        - name: min_duration_ms
          in: query
          schema:
            type: number
            minimum: 0
        - name: summary
          in: query
          schema:
            type: boolean
            default: true
          description: Return context-minimized rows. The list default is summary-only.
        - name: include_context
          in: query
          schema:
            type: boolean
            default: false
          description: Explicitly include bounded server-redacted context in list rows.
      responses:
        "200":
          description: Redacted event records.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliEventList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/events/{uuid}:
    get:
      operationId: getCliEvent
      tags:
        - CLI
      summary: Show one server-redacted telemetry event.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Uuid"
      responses:
        "200":
          description: Redacted event record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/error_groups:
    get:
      operationId: listCliErrorGroups
      tags:
        - CLI
      summary: List error groups for a project.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - name: status
          in: query
          schema:
            type: string
            enum: [unresolved, resolved, ignored, archived, all]
        - name: introduced_today
          in: query
          schema:
            type: boolean
        - name: q
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: assignee
          in: query
          schema:
            type: string
          description: "`all`, `me`, `unassigned`, `any`, or an assignable user UUID."
        - name: assigned
          in: query
          deprecated: true
          schema:
            type: string
            enum: [me, unassigned, any]
          description: Compatibility alias for assignee selection.
        - name: sort
          in: query
          schema:
            type: string
            enum: [last_seen, recommended, impact, velocity]
          description: Sort options vary by project profile; unsupported values return `422` instead of changing the requested sort.
      responses:
        "200":
          description: Error group records.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CliListEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/CliErrorGroup"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/error_groups/{uuid}:
    get:
      operationId: getCliErrorGroup
      tags:
        - CLI
      summary: Show one error group with optional related logs.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Uuid"
        - name: related_logs
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Error group detail.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/error_groups/{uuid}/export:
    get:
      operationId: exportCliErrorGroup
      tags:
        - CLI
      summary: Export a server-redacted error group investigation bundle.
      description: The response never includes internal numeric event IDs. Event context is capped at 64 KiB, occurrence records are capped at 50, and the complete compact JSON response is capped at 900 KiB with explicit truncation metadata.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Uuid"
        - name: include_occurrences
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Redacted error group export, bounded to 900 KiB.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/error_groups/{uuid}/context:
    get:
      operationId: getCliErrorGroupAiContext
      tags:
        - CLI
      summary: Build a minimized, server-redacted AI context bundle for an error group.
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Uuid"
        - name: token_budget
          in: query
          schema:
            type: integer
            minimum: 256
            maximum: 32000
            default: 4000
          description: Approximate output-token budget. The server enforces an exact four-bytes-per-token response ceiling, up to 256 KiB, and may omit lower-priority context.
      responses:
        "200":
          description: Minimized redacted AI context payload, bounded by the requested token budget and a 256 KiB server maximum.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CliAiContext"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/CliQueryUnavailable"
  /api/v1/cli/projects/{project_uuid}/traces:
    get:
      operationId: listCliTraces
      tags: [CLI]
      summary: List root request and browser trace spans.
      description: Uses coverage-aware ClickHouse reads with PostgreSQL fallback. Requires `traces:read`.
      x-logister-required-scopes: [traces:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - $ref: "#/components/parameters/Environment"
        - $ref: "#/components/parameters/Release"
        - name: service
          in: query
          schema: { type: string, maxLength: 200 }
        - name: operation
          in: query
          schema: { type: string, maxLength: 200 }
        - name: q
          in: query
          schema: { type: string, maxLength: 200 }
        - name: status
          in: query
          schema:
            type: string
            enum: [unset, ok, error, all]
        - name: min_duration_ms
          in: query
          schema: { type: number, minimum: 0, maximum: 86400000 }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Redacted trace root summaries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CliListEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/CliTraceSpan" }
                      analytics: { $ref: "#/components/schemas/CliAnalytics" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/traces/{trace_id}:
    get:
      operationId: getCliTrace
      tags: [CLI]
      summary: Show a bounded, server-redacted span tree.
      description: Defaults to 24 hours, accepts at most a 90-day range, returns at most 200 spans, and caps the serialized span payload at 1 MiB. Requires `traces:read`.
      x-logister-required-scopes: [traces:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/TraceId"
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
      responses:
        "200":
          description: Redacted trace detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CliTrace" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/monitors:
    get:
      operationId: listCliMonitors
      tags: [CLI]
      summary: List check-in monitor state at one evaluation timestamp.
      description: Requires `monitors:read`. Notification internals and monitor mutations are not exposed.
      x-logister-required-scopes: [monitors:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Environment"
        - name: status
          in: query
          schema:
            type: string
            enum: [ok, error, missed, paused, all]
        - name: q
          in: query
          schema: { type: string, maxLength: 200 }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Monitor summaries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CliListEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/CliMonitor" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/monitors/{uuid}:
    get:
      operationId: getCliMonitor
      tags: [CLI]
      summary: Show one check-in monitor by stable UUID.
      x-logister-required-scopes: [monitors:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Uuid"
      responses:
        "200":
          description: Monitor detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CliMonitor" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/deployments:
    get:
      operationId: listCliDeployments
      tags: [CLI]
      summary: List release-to-commit deployments.
      description: Requires `deployments:read`. This read route is separate from write-only deployment ingestion.
      x-logister-required-scopes: [deployments:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - name: repository
          in: query
          schema: { type: string, maxLength: 200 }
        - $ref: "#/components/parameters/Environment"
        - name: source
          in: query
          schema:
            type: string
            enum: [api, telemetry, manual]
        - $ref: "#/components/parameters/Release"
        - name: q
          in: query
          schema: { type: string, maxLength: 200 }
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Redacted deployment summaries with previous-deployment comparison context.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CliListEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/CliDeployment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/deployments/{uuid}:
    get:
      operationId: getCliDeployment
      tags: [CLI]
      summary: Show one redacted deployment by UUID.
      x-logister-required-scopes: [deployments:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/Uuid"
      responses:
        "200":
          description: Deployment detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CliDeployment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/insights:
    get:
      operationId: getCliInsights
      tags: [CLI]
      summary: Return a cached, redacted project Insights summary.
      description: Reuses the web Insights query/cache path and omits raw recent-event context. Requires `insights:read`.
      x-logister-required-scopes: [insights:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/InsightsWindow"
        - $ref: "#/components/parameters/Metric"
        - $ref: "#/components/parameters/Environment"
        - $ref: "#/components/parameters/Release"
        - $ref: "#/components/parameters/Attribute"
      responses:
        "200":
          description: Insights summary and selected series.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CliInsights" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/metrics/catalog:
    get:
      operationId: getCliMetricCatalog
      tags: [CLI]
      summary: List metrics available for a project and window.
      x-logister-required-scopes: [metrics:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - $ref: "#/components/parameters/InsightsWindow"
      responses:
        "200":
          description: Metric catalog.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CliListEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/CliMetric" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/cli/projects/{project_uuid}/metrics/query:
    get:
      operationId: queryCliMetric
      tags: [CLI]
      summary: Query exactly one known metric series.
      description: Unknown metrics fail with `422`; the server never substitutes a default series. Requires `metrics:read`.
      x-logister-required-scopes: [metrics:read]
      security:
        - cliBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CliProjectUuid"
        - name: metric
          in: query
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/InsightsWindow"
        - $ref: "#/components/parameters/Environment"
        - $ref: "#/components/parameters/Release"
        - $ref: "#/components/parameters/Attribute"
      responses:
        "200":
          description: One metric series and its metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CliMetricQuery" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/CliQueryUnavailable" }
  /api/v1/ingest_events:
    post:
      operationId: createIngestEvent
      tags:
        - Ingest events
      summary: Ingest one telemetry event or trace span.
      description: |
        Accepts an `event` envelope. Use this endpoint for errors, logs,
        custom metrics, transactions, spans, and check-ins when you want the
        full event shape. Uppercase `EVENT` envelopes are also accepted for
        runtimes that serialize keys that way. A client-supplied event `uuid`
        is an idempotency key within the project: a retry returns the original
        accepted event without creating another occurrence. The request body is
        capped at 2 MiB before JSON parsing; the normalized event has a separate
        1 MiB limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/EventEnvelope"
                - $ref: "#/components/schemas/UppercaseEventEnvelope"
            examples:
              error:
                summary: Error event
                value:
                  event:
                    event_type: error
                    level: error
                    message: NoMethodError in CheckoutService
                    fingerprint: checkout-nomethoderror
                    occurred_at: "2026-05-23T15:30:00Z"
                    context:
                      environment: production
                      release: "2026.05.23"
                      repository: acme/checkout
                      commit_sha: 4f8c2d1
                      service: checkout-api
                      request_id: req_123
                      trace_id: trace_123
                      exception:
                        class: NoMethodError
                        message: undefined method `total`
              metric:
                summary: Custom metric with numeric value
                value:
                  event:
                    event_type: metric
                    message: queue.depth
                    level: info
                    context:
                      environment: production
                      value: 42
                      unit: jobs
                      queue: billing
              dbQuery:
                summary: Database query timing metric
                value:
                  event:
                    event_type: metric
                    message: db.query
                    level: info
                    context:
                      environment: production
                      duration_ms: 38.7
                      name: OrdersController#index
              transaction:
                summary: Transaction timing
                value:
                  event:
                    event_type: transaction
                    message: POST /checkout
                    transaction_name: POST /checkout
                    duration_ms: 245.7
                    context:
                      environment: production
                      release: "2026.05.23"
                      status: 200
                      route: POST /checkout
              span:
                summary: Root trace span
                value:
                  event:
                    event_type: span
                    name: GET /checkout
                    kind: server
                    trace_id: trace_123
                    span_id: span_root
                    duration_ms: 245.7
                    started_at: "2026-05-23T15:30:00Z"
                    context:
                      environment: production
                      route: GET /checkout
                      service: checkout-api
              checkIn:
                summary: Check-in through the full ingest endpoint
                value:
                  event:
                    event_type: check_in
                    message: nightly-reconcile
                    check_in_slug: nightly-reconcile
                    check_in_status: ok
                    expected_interval_seconds: 900
                    context:
                      environment: production
                      release: "2026.05.23"
      responses:
        "200":
          description: A client UUID was already accepted; the existing event is returned idempotently.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedEventResponse"
              example:
                id: 018fe6a8-d40e-7c50-a283-e989feadbeef
                legacy_id: 123
                status: accepted
                duplicate: true
        "201":
          description: Event or span accepted.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/XRateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/XRateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/XRateLimitReset"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AcceptedEventResponse"
                  - $ref: "#/components/schemas/AcceptedSpanResponse"
              examples:
                event:
                  value:
                    id: 018fe6a8-d40e-7c50-a283-e989feadbeef
                    legacy_id: 123
                    status: accepted
                span:
                  value:
                    id: 018fe6a8-d40e-7c50-a283-e989feadbeef
                    legacy_id: 456
                    status: accepted
                    type: span
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: The request body or normalized event exceeds its byte limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/ingest_events/batch:
    post:
      operationId: createIngestEventBatch
      tags:
        - Ingest events
      summary: Atomically ingest a bounded batch of telemetry envelopes.
      description: |
        Accepts one `{ "event": ... }` JSON object per nonblank line; both the
        envelope and its `event` value must be JSON objects. The request may use
        gzip content encoding. A batch contains at most 100 envelopes, 2 MiB of
        compressed input, and 8 MiB after decompression. Every event must carry a
        nonblank, valid UUID in `uuid` or `event_id` for safe retry. If both aliases
        are supplied, they must normalize to the same UUID. Newly accepted rows are
        committed atomically; if one envelope is invalid, new rows from the batch
        are rolled back. Previously accepted duplicate envelopes remain accepted.
        Tenant rate limits count envelopes rather than HTTP requests.
      parameters:
        - name: Content-Encoding
          in: header
          required: false
          description: Use `gzip` for compressed NDJSON or omit for identity encoding.
          schema:
            type: string
            enum: [gzip, identity]
        - name: X-Logister-Batch-Id
          in: header
          required: false
          description: Stable SDK-generated batch identifier echoed in the response.
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/x-ndjson:
            schema:
              type: string
              format: binary
            example: |
              {"event":{"uuid":"11111111-1111-4111-8111-111111111111","event_type":"log","message":"checkout started"}}
              {"event":{"uuid":"22222222-2222-4222-8222-222222222222","event_type":"metric","message":"queue.depth","context":{"value":12}}}
      responses:
        "202":
          description: Every new envelope was committed with its projection intents.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/XRateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/XRateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/XRateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedBatchResponse"
        "400":
          description: |
            NDJSON or gzip framing is invalid, the batch is empty, an envelope or
            event is not an object, or a stable identity is missing, malformed, or
            conflicting. The `code` is one of `invalid_json`, `invalid_gzip`,
            `empty_batch`, `invalid_envelope`, `missing_event`, `missing_identity`,
            `invalid_identity`, or `conflicting_identity`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: The compressed body, decompressed body, envelope count, or an individual envelope exceeds its limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "415":
          description: The media type or content encoding is unsupported.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: At least one envelope failed model validation; newly inserted rows were rolled back.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RejectedBatchResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/deployments:
    post:
      operationId: createDeployment
      tags:
        - Deployments
      summary: Record one project deployment.
      description: |
        Accepts a `deployment` envelope that maps a release, environment, and
        GitHub repository to the exact commit SHA that was deployed. Logister
        uses these records to resolve source excerpts for private repositories,
        show deployment context on error details, and link errors to PR,
        release, and compare metadata when provided. Uppercase `DEPLOYMENT`
        envelopes are also accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/DeploymentEnvelope"
                - $ref: "#/components/schemas/UppercaseDeploymentEnvelope"
            examples:
              ciDeploy:
                summary: Deployment from CI
                value:
                  deployment:
                    release: "2026.06.18"
                    environment: production
                    repository: acme/checkout
                    commit_sha: 4f8c2d1a9b7e6c5d4a3b2c1d0e9f8a7b6c5d4e3f
                    branch: main
                    deployed_at: "2026-06-18T15:20:00Z"
              githubActions:
                summary: Deployment with GitHub PR and release metadata
                value:
                  deployment:
                    release: "2026.06.18"
                    environment: production
                    repository: acme/checkout
                    commit_sha: 4f8c2d1a9b7e6c5d4a3b2c1d0e9f8a7b6c5d4e3f
                    branch: main
                    pull_request_number: 42
                    release_tag: v2026.06.18
                    workflow_run_url: https://github.com/acme/checkout/actions/runs/123
      responses:
        "201":
          description: Deployment accepted.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/XRateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/XRateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/XRateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedDeploymentResponse"
              examples:
                accepted:
                  value:
                    id: 018fe6a8-d40e-7c50-a283-e989feadbeef
                    legacy_id: 789
                    status: accepted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/mobile_ingest_tokens:
    post:
      operationId: createMobileIngestToken
      tags:
        - Mobile tokens
      summary: Mint one short-lived mobile ingest token.
      description: |
        Trusted backends call this endpoint with a server project API key after
        authenticating the mobile app/session. The returned token is plaintext
        once, expires quickly, and can only call ingest and check-in endpoints.
        Do not call this endpoint directly from Android or iOS apps.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MobileIngestTokenEnvelope"
                - $ref: "#/components/schemas/UppercaseMobileIngestTokenEnvelope"
            examples:
              android:
                summary: Android session token
                value:
                  mobile_ingest_token:
                    platform: android
                    service: com.example.app
                    environment: production
                    release: "1.4.0+42"
                    session_id: session-123
                    expires_in_seconds: 900
                    allowed_event_types:
                      - error
                      - log
                      - metric
                      - transaction
                      - span
                      - check_in
      responses:
        "201":
          description: Mobile ingest token minted.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/XRateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/XRateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/XRateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileIngestTokenResponse"
              examples:
                accepted:
                  value:
                    token: logister_mobile_abc123
                    expires_at: "2026-06-20T18:30:00Z"
                    platform: android
                    service: com.example.app
                    environment: production
                    release: "1.4.0+42"
                    session_id: session-123
                    allowed_event_types:
                      - error
                      - log
                      - metric
                      - transaction
                      - span
                      - check_in
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/check_ins:
    post:
      operationId: createCheckIn
      tags:
        - Check-ins
      summary: Ingest one scheduled-work check-in.
      description: |
        Accepts a compact `check_in` envelope for cron jobs, scheduled tasks,
        workers, and heartbeat-style monitors. Uppercase `CHECK_IN` envelopes
        are also accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/CheckInEnvelope"
                - $ref: "#/components/schemas/UppercaseCheckInEnvelope"
            examples:
              ok:
                summary: Successful scheduled job
                value:
                  check_in:
                    slug: nightly-reconcile
                    status: ok
                    expected_interval_seconds: 900
                    duration_ms: 1820.5
                    environment: production
                    release: "2026.05.23"
              error:
                summary: Failed scheduled job
                value:
                  check_in:
                    slug: nightly-reconcile
                    status: error
                    expected_interval_seconds: 900
                    environment: production
                    request_id: job_123
      responses:
        "201":
          description: Check-in accepted.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/XRateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/XRateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/XRateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedCheckInResponse"
              examples:
                accepted:
                  value:
                    id: 018fe6a8-d40e-7c50-a283-e989feadbeef
                    status: accepted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
components:
  securitySchemes:
    cliBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: CLI access token
      description: "Send `Authorization: Bearer <cli-access-token>`. CLI tokens are user-scoped, scope-limited, project-limited, and expiring read credentials."
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Project API token
      description: "Send `Authorization: Bearer <project-api-token>`."
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Alternative project API token header.
  parameters:
    CliProjectUuid:
      name: project_uuid
      in: path
      required: true
      schema:
        type: string
      description: Project UUID or slug available to the CLI token.
    Uuid:
      name: uuid
      in: path
      required: true
      schema:
        type: string
    Since:
      name: since
      in: query
      schema:
        type: string
      description: ISO-8601 timestamp or compact duration such as `15m`, `1h`, `24h`, `7d`, or `1w`.
    Until:
      name: until
      in: query
      schema:
        type: string
        format: date-time
    Environment:
      name: environment
      in: query
      schema:
        type: string
    Release:
      name: release
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
        maxLength: 8192
      description: Opaque signed cursor from `next_cursor`. Cursors are project- and filter-bound.
    AfterCursor:
      name: after_cursor
      in: query
      schema:
        type: string
        maxLength: 8192
      description: Opaque event polling high-water cursor from `poll_cursor`. Poll pages are ordered by `created_at` then UUID ascending.
    TraceId:
      name: trace_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 128
        pattern: "^[A-Za-z0-9._:-]+$"
    InsightsWindow:
      name: window
      in: query
      schema:
        type: string
        enum: [1h, 6h, 24h, 7d]
        default: 24h
    Metric:
      name: metric[]
      in: query
      style: form
      explode: true
      schema:
        type: array
        maxItems: 8
        uniqueItems: true
        items:
          type: string
      description: Repeat `metric[]` to select multiple known Insights metrics.
    Attribute:
      name: attribute[]
      in: query
      style: form
      explode: true
      schema:
        type: array
        maxItems: 6
        items:
          type: string
          pattern: "^[a-z][a-z0-9_.:-]{0,63}=.+$"
      description: Repeat `attribute[]=key=value` for catalog-backed, non-sensitive scalar attribute filters.
  headers:
    RetryAfter:
      description: Seconds to wait before retrying after a rate limit.
      schema:
        type: integer
        minimum: 1
    XRateLimitLimit:
      description: Request limit for the current fixed window.
      schema:
        type: integer
    XRateLimitRemaining:
      description: Requests remaining in the current fixed window.
      schema:
        type: integer
        minimum: 0
    XRateLimitReset:
      description: Unix timestamp when the current fixed window resets.
      schema:
        type: integer
  responses:
    BadRequest:
      description: Required envelope was missing or unusable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            missingEnvelope:
              value:
                error: "param is missing or the value is empty: event"
    Unauthorized:
      description: The required project API key, mobile ingest token, or CLI bearer token was missing, invalid, revoked, inactive, expired, or no longer has effective project access.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            unauthorized:
              value:
                error: Unauthorized
                code: unauthorized
                message: Provide an active credential for this endpoint.
    Forbidden:
      description: The credential is valid but cannot access this endpoint or event type.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            forbidden:
              value:
                error: Forbidden
    NotFound:
      description: The requested project or record was not found for this credential.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            notFound:
              value:
                error: Not found
    UnprocessableContent:
      description: Envelope was present, but validation failed.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/ValidationErrorResponse"
              - $ref: "#/components/schemas/ErrorResponse"
          examples:
            invalid:
              value:
                errors:
                  - Message can't be blank
    TooManyRequests:
      description: The project API token, CLI access token, or authentication-failure source exceeded its configured rate limit.
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/XRateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/XRateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/XRateLimitReset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RateLimitResponse"
          examples:
            rateLimited:
              value:
                error: Rate limited
                code: rate_limited
                message: Too many requests. Retry after the current window.
                retry_after: 42
    CliQueryUnavailable:
      description: PostgreSQL canceled the authenticated CLI read at the configured server safety limit. Database errors and SQL are never returned; narrow the requested time range or filters before retrying.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            queryTimeout:
              value:
                error: Query unavailable
                code: query_timeout
                message: The query exceeded the server time limit. Narrow the time range or filters and try again.
  schemas:
    CliListEnvelope:
      type: object
      required: [items, generated_at]
      properties:
        items:
          type: array
          items: {}
        next_cursor:
          type: string
        generated_at:
          type: string
          format: date-time
    CliEventList:
      allOf:
        - $ref: "#/components/schemas/CliListEnvelope"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/CliEvent"
            poll_cursor:
              type: string
              description: High-water cursor for a later `after_cursor` request.
    CliSession:
      type: object
      required:
        - token
        - accessible_project_count
        - accessible_project_uuids
        - accessible_projects_truncated
        - missing_recommended_scopes
        - generated_at
      properties:
        token:
          type: object
          required: [uuid, name, scopes, expires_at, created_at, all_projects]
          properties:
            uuid: { type: string, format: uuid }
            name: { type: string }
            scopes:
              type: array
              items: { type: string }
            expires_at: { type: string, format: date-time }
            created_at: { type: string, format: date-time }
            last_used_at: { type: string, format: date-time }
            all_projects: { type: boolean }
        accessible_project_count: { type: integer, minimum: 0 }
        accessible_project_uuids:
          type: array
          maxItems: 100
          items: { type: string, format: uuid }
        accessible_projects_truncated: { type: boolean }
        missing_recommended_scopes:
          type: array
          items: { type: string }
        generated_at: { type: string, format: date-time }
    CliAnalytics:
      type: object
      required: [source, partial]
      properties:
        source:
          type: string
          enum: [postgresql, clickhouse]
        coverage:
          type: object
          properties:
            complete: { type: boolean }
            ratio: { type: number, minimum: 0, maximum: 1 }
            fresh_through: { type: string, format: date-time }
        partial:
          type: boolean
          description: True only when PostgreSQL fallback cannot cover the complete requested retention range.
        fallback_coverage:
          type: object
          description: Present for PostgreSQL fallback and limited to retention-range facts safe for CLI clients.
          required: [complete, reason, requested_from, requested_to]
          properties:
            complete: { type: boolean }
            reason:
              type: string
              enum:
                - within_postgres_retention
                - postgres_retention_window
                - invalid_range
                - invalid_scope
                - unsupported_signals
                - missing_projects
            requested_from: { type: string, format: date-time }
            requested_to: { type: string, format: date-time }
            retained_from:
              type: string
              format: date-time
              description: Oldest range boundary guaranteed by current PostgreSQL retention; omitted when the requested error data is retained forever.
    CliTraceSpan:
      type: object
      required: [uuid, trace_id, span_id, name, operation, kind, status, duration_ms, started_at]
      properties:
        uuid: { type: string, format: uuid }
        trace_id: { type: string }
        span_id: { type: string }
        parent_span_id: { type: string }
        name: { type: string }
        operation: { type: string }
        kind: { $ref: "#/components/schemas/SpanKind" }
        status:
          type: string
          enum: [unset, ok, error]
        duration_ms: { type: number, minimum: 0 }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time }
        environment: { type: string }
        release: { type: string }
        service: { type: string }
        request_id: { type: string }
        context:
          type: object
          additionalProperties: true
          description: Present only on trace detail and always server-redacted.
        context_truncated:
          type: boolean
          description: True when an oversized redacted context was omitted to preserve the response-size bound.
    CliTrace:
      type: object
      required: [trace_id, spans, span_count, truncated, generated_at, analytics]
      properties:
        trace_id: { type: string }
        spans:
          type: array
          maxItems: 200
          items: { $ref: "#/components/schemas/CliTraceSpan" }
        span_count: { type: integer, minimum: 0, maximum: 200 }
        truncated: { type: boolean }
        generated_at: { type: string, format: date-time }
        analytics: { $ref: "#/components/schemas/CliAnalytics" }
    CliMonitor:
      type: object
      required: [uuid, slug, environment, status, expected_interval_seconds, created_at, updated_at]
      properties:
        uuid: { type: string, format: uuid }
        slug: { type: string }
        environment: { type: string }
        status:
          type: string
          enum: [ok, error, missed, paused]
        expected_interval_seconds: { type: integer, minimum: 1 }
        last_check_in_at: { type: string, format: date-time }
        last_error_at: { type: string, format: date-time }
        last_event: { $ref: "#/components/schemas/CliEvent" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    CliDeployment:
      type: object
      required: [uuid, provider, repository_full_name, environment, release, commit_sha, short_commit_sha, deployed_at, source]
      properties:
        uuid: { type: string, format: uuid }
        provider: { type: string }
        repository_full_name: { type: string }
        environment: { type: string }
        release: { type: string }
        commit_sha: { type: string }
        short_commit_sha: { type: string }
        branch: { type: string }
        deployed_at: { type: string, format: date-time }
        source:
          type: string
          enum: [api, telemetry, manual]
        metadata:
          type: object
          additionalProperties: true
          description: Server-redacted deployment metadata.
        links:
          type: object
          additionalProperties:
            type: string
            format: uri
        previous_deployment:
          type: object
          properties:
            uuid: { type: string, format: uuid }
            release: { type: string }
            commit_sha: { type: string }
            deployed_at: { type: string, format: date-time }
    CliMetric:
      type: object
      required: [key, label, unit, kind, source, category]
      properties:
        key: { type: string }
        label: { type: string }
        description: { type: string }
        unit: { type: string }
        kind: { type: string }
        source: { type: string }
        category: { type: string }
        category_label: { type: string }
        events: { type: integer, minimum: 0 }
        available: { type: boolean }
        available_events: { type: integer, minimum: 0 }
    CliMetricSeries:
      type: object
      required: [key, data]
      properties:
        key: { type: string }
        label: { type: string }
        unit: { type: string }
        data:
          type: array
          items:
            type: object
            required: [timestamp, value]
            properties:
              timestamp: { type: string, format: date-time }
              value: { type: number }
    CliInsights:
      type: object
      description: Cached Project Insights payload without `recent_events`. Attribute catalog keys are screened by semantic sensitivity before serialization.
      required: [generated_at, window, bucket, summary, metric_catalog, selected_metrics, metric_series, analytics]
      properties:
        generated_at: { type: string, format: date-time }
        window: { type: string, enum: [1h, 6h, 24h, 7d] }
        bucket: { type: string, enum: [minute, hour, day] }
        filters: { type: object, additionalProperties: true }
        summary: { type: object, additionalProperties: true }
        metric_catalog:
          type: array
          items: { $ref: "#/components/schemas/CliMetric" }
        selected_metrics:
          type: array
          items: { type: string }
        metric_series:
          type: array
          items: { $ref: "#/components/schemas/CliMetricSeries" }
        attributes:
          type: array
          items: { type: object, additionalProperties: true }
        analytics: { $ref: "#/components/schemas/CliAnalytics" }
      additionalProperties: true
    CliMetricQuery:
      type: object
      required: [metric, series, window, bucket, filters, generated_at, analytics]
      properties:
        metric: { $ref: "#/components/schemas/CliMetric" }
        series: { $ref: "#/components/schemas/CliMetricSeries" }
        window: { type: string, enum: [1h, 6h, 24h, 7d] }
        bucket: { type: string, enum: [minute, hour, day] }
        filters: { type: object, additionalProperties: true }
        generated_at: { type: string, format: date-time }
        analytics: { $ref: "#/components/schemas/CliAnalytics" }
    CliCapabilities:
      type: object
      required:
        - server
        - server_version
        - api_contract_version
        - api_contract_sha256
        - minimum_cli_version
        - recommended_cli_version
        - generated_at
        - endpoints
        - auth
        - features
      properties:
        server:
          type: string
          const: logister
        server_version:
          type: string
        api_contract_version:
          type: string
        api_contract_sha256:
          type: string
          pattern: "^[0-9a-f]{64}$"
        minimum_cli_version:
          type: string
        recommended_cli_version:
          type: string
        generated_at:
          type: string
          format: date-time
        endpoints:
          type: object
          additionalProperties:
            type: string
        auth:
          type: object
          required:
            - cli_access_tokens
            - device_authorization
            - project_ingest_keys_for_read
            - recommended_scopes
          properties:
            cli_access_tokens:
              type: boolean
            device_authorization:
              type: boolean
            project_ingest_keys_for_read:
              type: boolean
            recommended_scopes:
              type: array
              items:
                type: string
        features:
          type: object
          additionalProperties:
            type: boolean
    CliDeviceAuthorizationRequest:
      type: object
      properties:
        client_name:
          type: string
          maxLength: 80
        scope:
          type: string
          description: Space-separated CLI read scopes. Defaults to all read scopes currently supported by the server.
        scopes:
          type: array
          uniqueItems: true
          items:
            type: string
          description: Preferred array form of requested read scopes.
    CliDeviceAuthorization:
      type: object
      required:
        - device_code
        - user_code
        - verification_uri
        - verification_uri_complete
        - expires_in
        - interval
        - scope
        - scopes
      properties:
        device_code:
          type: string
          description: High-entropy polling secret. Store only temporarily.
        user_code:
          type: string
          pattern: "^[A-Z0-9]{4}-[A-Z0-9]{4}$"
        verification_uri:
          type: string
          format: uri
        verification_uri_complete:
          type: string
          format: uri
        expires_in:
          type: integer
        interval:
          type: integer
          minimum: 1
        scope:
          type: string
        scopes:
          type: array
          items:
            type: string
    CliDeviceTokenRequest:
      type: object
      required:
        - device_code
      properties:
        device_code:
          type: string
    CliDeviceTokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_at
        - scope
        - scopes
      properties:
        access_token:
          type: string
        token_type:
          type: string
          const: Bearer
        expires_at:
          type: string
          format: date-time
        scope:
          type: string
        scopes:
          type: array
          items:
            type: string
    CliDeviceAuthorizationError:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - authorization_pending
            - slow_down
            - access_denied
            - expired_token
            - invalid_grant
        error_description:
          type: string
        interval:
          type: integer
    CliProject:
      type: object
      required:
        - uuid
        - name
        - slug
        - integration_kind
        - archived
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        integration_kind:
          type: string
        integration_label:
          type: string
        archived:
          type: boolean
        archived_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CliEvent:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        event_type:
          type: string
        level:
          type: string
        message:
          type: string
        fingerprint:
          type: string
        occurred_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        environment:
          type: string
        release:
          type: string
        transaction_name:
          type: string
        trace_id:
          type: string
        request_id:
          type: string
        session_id:
          type: string
        user_identifier:
          type: string
        duration_ms:
          type: number
        status:
          oneOf:
            - type: string
            - type: integer
        error_group_uuid:
          type: string
          format: uuid
        context:
          type: object
          description: Server-redacted event context. Sensitive-looking keys are replaced with `[REDACTED]`.
          additionalProperties: true
        context_truncated:
          type: boolean
          description: True when list context was omitted to keep the serialized list below its server-side byte limit.
        summary_truncated:
          type: boolean
          description: True when oversized display strings were shortened to preserve the list response bound.
    CliErrorGroup:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        fingerprint:
          type: string
        title:
          type: string
        subtitle:
          type: string
        stage:
          type: string
        severity:
          type: string
        status:
          type: string
        occurrence_count:
          type: integer
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
        ignored_at:
          type: string
          format: date-time
        archived_at:
          type: string
          format: date-time
        latest_event:
          $ref: "#/components/schemas/CliEvent"
    CliProjectSummary:
      type: object
      properties:
        project:
          $ref: "#/components/schemas/CliProject"
        window_started_at:
          type: string
          format: date-time
        window_ended_at:
          type: string
          format: date-time
        generated_at:
          type: string
          format: date-time
        latest_event:
          $ref: "#/components/schemas/CliEvent"
        events_by_type:
          type: object
          additionalProperties:
            type: integer
        errors:
          type: object
          additionalProperties:
            type: integer
        activity_events:
          type: integer
        analytics:
          $ref: "#/components/schemas/CliAnalytics"
    CliAiContext:
      type: object
      required: [format, version, generated_at, token_budget, response_byte_limit, truncated]
      properties:
        format:
          type: string
          const: logister_ai_context
        version:
          type: integer
        generated_at:
          type: string
          format: date-time
        token_budget:
          type: integer
          minimum: 256
          maximum: 32000
        response_byte_limit:
          type: integer
          minimum: 1024
          maximum: 262144
          description: Exact serialized response ceiling, conservatively derived as four bytes per requested token.
        truncated:
          type: boolean
          description: True when lower-priority context was omitted to satisfy the requested token budget.
        project:
          $ref: "#/components/schemas/CliProject"
        issue:
          $ref: "#/components/schemas/CliErrorGroup"
        latest_event:
          $ref: "#/components/schemas/CliEvent"
        exception:
          type: object
          additionalProperties: true
        request:
          type: object
          additionalProperties: true
        occurrences:
          type: object
          additionalProperties: true
        related_logs:
          type: object
          additionalProperties: true
        deployment_context:
          type: object
          additionalProperties: true
        notes:
          type: array
          items:
            type: string
    EventEnvelope:
      type: object
      required:
        - event
      properties:
        event:
          $ref: "#/components/schemas/IngestEvent"
      additionalProperties: false
    UppercaseEventEnvelope:
      type: object
      required:
        - EVENT
      properties:
        EVENT:
          $ref: "#/components/schemas/IngestEvent"
      additionalProperties: false
    IngestEvent:
      type: object
      required:
        - event_type
      properties:
        uuid:
          type: string
          format: uuid
          description: Optional client idempotency key. Reusing it in the same project returns the original event without increasing occurrence counts.
        event_id:
          type: string
          format: uuid
          description: Alias for `uuid`.
        event_type:
          type: string
          enum:
            - error
            - log
            - metric
            - transaction
            - span
            - check_in
          description: Controls where the event appears in Logister.
        level:
          type: string
          examples:
            - info
            - warn
            - error
            - fatal
        message:
          type: string
          description: Primary event label. Required for non-span events.
        name:
          type: string
          description: Span label when `event_type` is `span`.
        fingerprint:
          type: string
          description: Stable grouping key for repeated errors or recurring operational signals.
        occurred_at:
          type: string
          format: date-time
          description: Event time. Defaults to receive time when omitted.
        environment:
          type: string
        release:
          type: string
        commit_sha:
          type: string
          description: Git commit SHA for the code that produced the event.
        commitSha:
          type: string
          description: Camel-case alias for `commit_sha`.
        repository:
          type: string
          description: GitHub repository full name, such as `acme/checkout`.
        repo:
          type: string
          description: Alias for `repository`.
        github_repository:
          type: string
          description: Alias for `repository`.
        githubRepository:
          type: string
          description: Camel-case alias for `github_repository`.
        branch:
          type: string
        trace_id:
          type: string
        traceId:
          type: string
        request_id:
          type: string
        requestId:
          type: string
        session_id:
          type: string
        sessionId:
          type: string
        user_id:
          oneOf:
            - type: string
            - type: integer
        userId:
          oneOf:
            - type: string
            - type: integer
        transaction_name:
          type: string
        transactionName:
          type: string
        duration_ms:
          type: number
          minimum: 0
        durationMs:
          type: number
          minimum: 0
        expected_interval_seconds:
          type: integer
          minimum: 1
        check_in_slug:
          type: string
        monitor_slug:
          type: string
        check_in_status:
          type: string
        status:
          oneOf:
            - type: string
            - type: integer
        span_id:
          type: string
        spanId:
          type: string
        parent_span_id:
          type: string
        parentSpanId:
          type: string
        kind:
          $ref: "#/components/schemas/SpanKind"
        span_kind:
          $ref: "#/components/schemas/SpanKind"
        started_at:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        context:
          $ref: "#/components/schemas/EventContext"
      additionalProperties: true
    EventContext:
      type: object
      description: Structured event metadata used for details, filtering, correlation, metrics, and analytics.
      properties:
        environment:
          type: string
        release:
          type: string
        commit_sha:
          type: string
          description: Git commit SHA used for source lookup and deployment indexing.
        repository:
          type: string
          description: GitHub repository full name, such as `acme/checkout`.
        branch:
          type: string
        service:
          type: string
        trace_id:
          type: string
        request_id:
          type: string
        session_id:
          type: string
        user_id:
          oneOf:
            - type: string
            - type: integer
        transaction_name:
          type: string
        duration_ms:
          type: number
          minimum: 0
        value:
          type: number
          description: Numeric custom metric value used by `metric_value:<name>` Insights series.
        unit:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        exception:
          type: object
          additionalProperties: true
        exception_class:
          type: string
        request:
          type: object
          additionalProperties: true
        check_in_slug:
          type: string
        check_in_status:
          type: string
        expected_interval_seconds:
          type: integer
          minimum: 1
      additionalProperties: true
    SpanKind:
      type: string
      enum:
        - app
        - browser
        - cache
        - db
        - http
        - internal
        - queue
        - render
        - resource
        - server
    CheckInEnvelope:
      type: object
      required:
        - check_in
      properties:
        check_in:
          $ref: "#/components/schemas/CheckIn"
      additionalProperties: false
    UppercaseCheckInEnvelope:
      type: object
      required:
        - CHECK_IN
      properties:
        CHECK_IN:
          $ref: "#/components/schemas/CheckIn"
      additionalProperties: false
    CheckIn:
      type: object
      required:
        - slug
      properties:
        slug:
          type: string
          description: Monitor slug, such as `nightly-reconcile`.
        status:
          type: string
          default: ok
          description: "`ok` keeps the monitor healthy; `error` marks the latest run failed."
        occurred_at:
          type: string
          format: date-time
        environment:
          type: string
        release:
          type: string
        expected_interval_seconds:
          type: integer
          minimum: 1
          default: 300
        duration_ms:
          type: number
          minimum: 0
        trace_id:
          type: string
        request_id:
          type: string
      additionalProperties: true
    DeploymentEnvelope:
      type: object
      required:
        - deployment
      properties:
        deployment:
          $ref: "#/components/schemas/Deployment"
      additionalProperties: false
    UppercaseDeploymentEnvelope:
      type: object
      required:
        - DEPLOYMENT
      properties:
        DEPLOYMENT:
          $ref: "#/components/schemas/Deployment"
      additionalProperties: false
    Deployment:
      type: object
      required:
        - release
        - repository
        - commit_sha
      properties:
        release:
          type: string
          description: Release identifier used by events, such as an app version or deploy version.
        environment:
          type: string
          default: production
        repository:
          type: string
          description: GitHub repository full name, such as `acme/checkout`.
        repo:
          type: string
          description: Alias for `repository`.
        github_repository:
          type: string
          description: Alias for `repository`.
        githubRepository:
          type: string
          description: Camel-case alias for `github_repository`.
        commit_sha:
          type: string
          pattern: "^[0-9a-fA-F]{7,40}$"
        commitSha:
          type: string
          pattern: "^[0-9a-fA-F]{7,40}$"
        branch:
          type: string
        deployed_at:
          type: string
          format: date-time
        deployedAt:
          type: string
          format: date-time
        pull_request_number:
          oneOf:
            - type: string
            - type: integer
        pullRequestNumber:
          oneOf:
            - type: string
            - type: integer
        pull_request_url:
          type: string
          format: uri
        pullRequestUrl:
          type: string
          format: uri
        release_tag:
          type: string
        releaseTag:
          type: string
        release_url:
          type: string
          format: uri
        releaseUrl:
          type: string
          format: uri
        compare_url:
          type: string
          format: uri
        workflow_run_url:
          type: string
          format: uri
        deployment_url:
          type: string
          format: uri
        github:
          type: object
          additionalProperties: true
      additionalProperties: true
    MobileIngestTokenEnvelope:
      type: object
      required:
        - mobile_ingest_token
      properties:
        mobile_ingest_token:
          $ref: "#/components/schemas/MobileIngestTokenRequest"
      additionalProperties: false
    UppercaseMobileIngestTokenEnvelope:
      type: object
      required:
        - MOBILE_INGEST_TOKEN
      properties:
        MOBILE_INGEST_TOKEN:
          $ref: "#/components/schemas/MobileIngestTokenRequest"
      additionalProperties: false
    MobileIngestTokenRequest:
      type: object
      required:
        - platform
        - service
        - environment
      properties:
        platform:
          type: string
          enum:
            - android
            - ios
          description: Must match the Logister project integration kind.
        service:
          type: string
          description: Android package name or iOS bundle identifier.
        environment:
          type: string
        release:
          type: string
        session_id:
          type: string
        expires_in_seconds:
          type: integer
          default: 900
          minimum: 60
          maximum: 3600
        allowed_event_types:
          type: array
          default:
            - error
            - log
            - metric
            - transaction
            - span
            - check_in
          items:
            type: string
            enum:
              - error
              - log
              - metric
              - transaction
              - span
              - check_in
      additionalProperties: false
    MobileIngestTokenResponse:
      type: object
      required:
        - token
        - expires_at
        - platform
        - service
        - environment
        - allowed_event_types
      properties:
        token:
          type: string
          description: Plaintext mobile ingest token. Store only in app memory and refresh before expiry.
        expires_at:
          type: string
          format: date-time
        platform:
          type: string
          enum:
            - android
            - ios
        service:
          type: string
        environment:
          type: string
        release:
          type: string
        session_id:
          type: string
        allowed_event_types:
          type: array
          items:
            type: string
    AcceptedEventResponse:
      type: object
      required:
        - id
        - status
      properties:
        id:
          type: string
          format: uuid
        legacy_id:
          type: integer
        status:
          type: string
          const: accepted
        duplicate:
          type: boolean
          description: True when a client UUID matched an event accepted earlier.
    AcceptedSpanResponse:
      allOf:
        - $ref: "#/components/schemas/AcceptedEventResponse"
        - type: object
          properties:
            type:
              type: string
              const: span
    BatchEnvelopeResult:
      type: object
      required:
        - index
        - status
        - type
      properties:
        index:
          type: integer
          minimum: 0
        status:
          type: string
          enum: [accepted, rejected, rolled_back]
        type:
          type: string
          enum: [event, span]
        id:
          type: string
          format: uuid
        legacy_id:
          type: integer
        duplicate:
          type: boolean
        errors:
          type: array
          items:
            type: string
    AcceptedBatchResponse:
      type: object
      required:
        - schema_version
        - status
        - accepted
        - duplicates
        - results
      properties:
        schema_version:
          type: integer
          const: 1
        batch_id:
          type: string
        status:
          type: string
          const: accepted
        accepted:
          type: integer
          minimum: 1
        duplicates:
          type: integer
          minimum: 0
        results:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/BatchEnvelopeResult"
    RejectedBatchResponse:
      type: object
      required:
        - schema_version
        - status
        - results
      properties:
        schema_version:
          type: integer
          const: 1
        batch_id:
          type: string
        status:
          type: string
          const: rejected
        results:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/BatchEnvelopeResult"
    AcceptedCheckInResponse:
      type: object
      required:
        - id
        - status
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          const: accepted
    AcceptedDeploymentResponse:
      type: object
      required:
        - id
        - status
      properties:
        id:
          type: string
          format: uuid
        legacy_id:
          type: integer
        status:
          type: string
          const: accepted
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        parameter:
          type: string
        required_scopes:
          type: array
          items:
            type: string
    ValidationErrorResponse:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            type: string
    RateLimitResponse:
      type: object
      required:
        - error
        - retry_after
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        limit:
          type: integer
        window_seconds:
          type: integer
        retry_after:
          type: integer
