<%# locals: (label:) %>

<%= button_tag(type: "button",
               class: "tour-help-button",
               title: label,
               aria: { label: label },
               data: { action: "click->product-tour#start", tour_ignore: true }) do %>
  <span class="tour-help-button-mark" aria-hidden="true">?</span>
<% end %>
