<% points = Array(local_assigns.fetch(:points, [])) %>
<% compact = local_assigns.fetch(:compact, false) %>
<% max_value = points.max.to_i %>
<% max_value = 1 if max_value.zero? %>
<div class="flex items-end gap-0.5 <%= compact ? 'h-7' : 'h-12' %> mt-2" aria-hidden="true">
  <% points.each do |point| %>
    <% height_pct = (point.to_f / max_value * 100).round %>
    <% height_pct = [height_pct, 8].max %>
    <span class="flex-1 min-w-[3px] rounded-t bg-gradient-to-t from-blue-600 to-blue-400" style="height: <%= height_pct %>%;"></span>
  <% end %>
</div>
